{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Beers</title>
</head>

<body>
    {{#each Beers}}
    <div class="container">
        {{!-- {{{body}}} --}}
        {{!-- {{#each beersFromApi}} --}}

        {{!-- <p>image:{{beers.image}}</p>
        <p>frog:{{name}}</p>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        {{!-- {{/each}} --}}
        {{!--
    </div>
    {{/each}} --}}
    {{!-- {{#each this}}
    <div class="row"></div>
    {{/each}} --}}


    {{!--
</body>

</html> --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Beers</title>
</head>

<body>
    <div class="insideBeer"
        style="  display: flex;  flex-wrap: wrap; flex-direction:row; justify-content:space-between">
        {{!-- <div style="padding: 5px; width:200px; display:flex; 
    flex-direction:row;">{{#each beers}}</div> --}}
        {{#each beers}}
        <div style="  margin-right: 100px; width:20%; display:flex;
        .images{width:20%;}; 
    ">{{> beerPartial this }}
        </div>
        {{/each}}
    </div>
</body>
<footer class="navbar navbar-light"
    style="background-color: #0a2c42; color: white; width: 100%; postion:relative; top: 950px;">
    <p>Develop by Ironhack ;)</p>